*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 3%;
    
  }
  .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    font-weight: 200;
    font-size: 25px;
  }
  .nav-items h5:hover{
    color: orangered;
  }
  .intro-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%
  }
  .left-section{
    margin-left: 5%;
    margin-top: 3%;
  }
  .left-section h3{
    font-size: 25px;
    font-weight: lighter;
  }
  .left-section img{
    width: 30px;
  }
  .left-section h1{
    font-size: 50px;
    margin-top: 2%;
    font-weight: 800;
  }
  .sub-headlines{
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
  }
  .sub-headline{
    margin-top: 4%;
    font-weight: lighter;
  }
  .sub-headline img{
    background-color: orangered;
    border-radius: 50px;
    width: 20px;
  }
  .text{
    margin-top: 5%;
    font-size: 13px;
    width: 600px;
    color: gray;
  }
  .action-btns{
    margin-top: 10%;
  }
  .action-btn{
    background-color: orangered;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: white;
  }
  .right-section{
    margin-right: 40%;

  }
  .headphone-div{
    display: flex;
  }
  .discount{
    display: inline-block;
height: 40%;
width: 55%;
margin-top: 100%;
margin-right: 40%;
    
  }
  .discount-content{
    position: absolute;
    margin-top: 14%;
    z-index: 1;
    margin-left: 1.5%;
    font-size: 12px;
    color: white;
  }
  .discount-content + img{
    position: absolute;
    z-index: -1;
    width: 28%;
    margin-top: -5%;
  }
  .dots{
    display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 80%;
width: 100%;
margin-top: 10%;
/* margin-bottom: 10%; */
  }
  .dot-yellow-dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50%;
    background-color: yellow;
  }
  .dot-tomato-dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50%;
    background-color: red;
  }
  .dot-black-dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50%;
    background-color: black
  }
  .dots + button{
    margin-left: 80%;
    margin-top: 10%
  }